apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: ossa-staging

namespace: ossa-staging

resources:
- ../../base

commonLabels:
  environment: staging
  app.kubernetes.io/instance: ossa-staging

patchesStrategicMerge:
- staging-patches.yaml

images:
- name: registry.gitlab.com/llm/ossa/ossa-api
  newTag: staging
- name: registry.gitlab.com/llm/ossa/ossa-validator
  newTag: staging

configMapGenerator:
- name: ossa-config
  behavior: merge
  literals:
  - NODE_ENV=staging
  - LOG_LEVEL=debug
  - ENABLE_METRICS=true
  - ENABLE_TRACING=true

secretGenerator:
- name: ossa-secrets
  behavior: replace
  envs:
  - staging.env

replicas:
- name: ossa-api
  count: 1
- name: ossa-validator
  count: 1
- name: ossa-web
  count: 1